/* General settings  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow-y: hidden;
}
body * {
  font-family: "Inter", sans-serif;
}

/* Main containers */
.wrapper {
  display: flex;
}
.main-container {
  width: 50%;
}
.container .name, .container .rgb, .container .hex {
  width: 28rem;
  margin: 0;
  border-radius: 999rem;
  padding: .6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #101010;
  background-color: #FAFAFA;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);

  font-weight: 500;
  font-size: 2.5rem;
}
.container .name {
  width: 20rem;
}
.container .hex {
  width: 16rem;
}
#main {
  height: 100vh;

  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1.6rem;
}
.content {
  padding: 4rem;
  border-radius: 4rem;

  color: #101010;
  background-color: #FAFAFA;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  display: grid;
}

/* Text */
.text {
  display: grid;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.text h1 {
  font-size: 3.6rem;
}
.text h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
}

/* Main container of the inputs */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#form-div {
  display: grid;
  gap: 2.8rem;
}

/* Tailwind colors containers */
#container-1, #container-2, #container-3, #container-4, #container-5, #container-6, #container-7, #container-8{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  display: none;
}

/* Configuring all inputs */

/* Color-Picker input */
#color-picker {
  width: 16rem;
  height: 16rem;
  border: 0;
  outline: 0;
}

/* General settings for text input containers */
.input-color-container {
  position: relative;

  --color-icon: #FAFAFA;
  --color-input: #101010;
  --color-border: #8c8b8b;
  --color-border-hover: #101010;
  --all-transition: all .2s ease-out;
  --input-focus-opacity: .3;
}
.input-color {
  display: flex;
  justify-content: center;
  gap: 1rem;  

  min-width: 15rem;
  max-width: 25rem;
  padding-inline: 2.4rem;
  padding-block: 1.4rem;
  border-radius: 8rem;

  border: 0;
  outline: .15rem solid var(--color-border);

  background: none;

  font-size: 1.8rem;

  transition: var(--all-transition);
}
.input-color#hex-container {
  justify-content: start;
  gap: .4rem;
}

/* General settings for focus and placeholder of text inputs */
.input-color:focus-within {
  border: 0;
  outline: .19rem solid var(--color-border-hover);

  color: var(--color-input);
}
.input-color::-webkit-input-placeholder,
.input-color::-moz-input-placeholder,
.input-color::-ms-input-placeholder {
  color: var(--color-border);
}
.input-color-container:focus-within::-webkit-input-placeholder,
.input-color-container:focus-within::-moz-input-placeholder,
.input-color-container:focus-within::-ms-input-placeholder {
  opacity: var(--input-focus-opacity);
}

/* RGB input */
.input-color#rgb .inputs {
  width: 4.5rem;
  padding-bottom: .1rem;

  border: none;
  border-bottom: .15rem solid var(--color-border);
  outline: none;

  background-color: transparent;

  text-align: center;
  font-size: 1.8rem;

  transition: var(--all-transition);
}
.input-color#rgb .inputs:focus {
  border-bottom: .19rem solid var(--color-input);
}

.input-color#rgb .virgula {
  position: relative;
}
.input-color#rgb .virgula span {
  position: absolute;
  top: -10%;
  right: -.2rem;

  color: var(--color-border);
  font-size: 2.4rem;
  font-weight: 400;

  transition: var(--all-transition);
}
.input-color#rgb:focus-within .virgula span {
  color: var(--color-input);
}

/* Hex input */
.input-color#hex-container #hex {
  width: fit-content;

  border: none;
  outline: none;

  background-color: transparent;

  font-size: 1.8rem;
  text-transform: uppercase;

  transition: var(--all-transition);
}
.input-color#hex-container .hashtag span {
  color: var(--color-border);
  font-weight: 300;

  transition: var(--all-transition);
}
.input-color#hex-container:focus-within .hashtag span {
  color: var(--color-input);
}

/* Color Label */
.color-label {
  position: absolute;
  top: -1.15rem;
  left: 2.5rem;
  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  border-radius: 2rem;
  outline: .15rem solid var(--color-border);

  color: var(--color-border);
  font-weight: 600;

  background-color: transparent;
  backdrop-filter: blur(1rem);

  cursor: default;

  transition: var(--all-transition);
}
.input-color:focus-within ~ .color-label {
  color: var(--color-border-hover);
  outline: .19rem solid var(--color-border-hover);
}

/* Copy button */
.btn-copy {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;

  position: absolute;
  top: -1.5rem;
  right: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  outline: .15rem solid var(--color-border);

  background-color: transparent;
  backdrop-filter: blur(1rem);

  cursor: pointer;

  transition: var(--all-transition);
}
.btn-copy:hover {
  background-color: var(--color-border);
  transform: scale(1.2);
}
.btn-copy:active {
  transform: scale(0.95);
}
.input-color:focus-within ~ .btn-copy {
  outline: .19rem solid var(--color-border-hover);
}
.input-color:focus-within ~ .btn-copy:hover {
  background-color: var(--color-border-hover);
}
.icon-btn-copy {
  fill: var(--color-border);
}
.btn-copy:hover .icon-btn-copy,
.input-color:focus-within ~ .btn-copy:hover .icon-btn-copy {
  fill: var(--color-icon);
}
.input-color:focus-within ~ .btn-copy .icon-btn-copy {
  fill: var(--color-border-hover);
}